header {
    padding: 10px;
}
#logo {
    height: 150px;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
}
select, .switch-label, button {
    margin: 10px 0;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    cursor: pointer;
}
.loader {
    border: 8px solid #ccc;
    border-top: 8px solid #27ae60;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 20px auto;
    animation: spin 1s linear infinite;
    display: none;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}