.logo-crop {
  width: 60px;       
  height: 54px;      
  overflow: hidden;  
}

.logo-crop img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  padding: 10px 20px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  font-weight: bold;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a,
.nav-links .logout-btn {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
